.data-table {
  position: relative;
  max-width: 100vw;
}

.data-table__table {
  width: 100%;
  border-spacing: 0;
}

.data-table__footer {
  padding: 1em;
  text-align: center;
  background-color: var(--grey-lightest);
  border-top: 1px solid var(--grey-light);
}
