:root {
  --ink-base: #212b36;
  --ink-light: #454f5b;
  --ink-lighter: #637381;
  --ink-lightest: #919eab;
  --grey-dark: #c4cdd5;
  --grey-base: #dfe3e8;
  --grey-light: #f4f6f8;
  --grey-lightest: #f9fafb;
  --white: #fff;
  --blue-lightest: #f7f9fd;
  --blue-light: #dde8f7;
  --blue: #1070ca;
  --blue-dark: #084b8a;
  --red-lightest: #fef6f6;
  --red-light: #fae2e2;
  --red: #e5544b;
  --red-dark: #bf0e08;
  --green-lightest: #f1faf5;
  --green-light: #d4eee2;
  --green: #47b881;
  --green-dark: #00783e;
  --yellow-lightest: #fef8e7;
  --yellow-light: #fbe6a2;
  --yellow: #f7d154;
  --yellow-dark: #7e6514;
}
