.button {
  @include button-base;

  color: var(--ink-base);
  background-color: var(--grey-light);
  border: 1px solid var(--grey-dark);

  &:hover {
    background-color: var(--grey-base);
    border-color: var(--grey-dark);
  }
}

.button--primary {
  color: var(--white);
  background-color: var(--blue);
  border-color: var(--blue-dark);

  &:hover {
    background-color: var(--blue-dark);
    border-color: var(--blue-dark);
  }
}

.button--danger {
  color: var(--white);
  background-color: var(--red);
  border-color: var(--red-dark);

  &:hover {
    background-color: var(--red-dark);
    border-color: var(--red-dark);
  }
}

.button--minimal {
  color: var(--blue);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;

  &:hover {
    color: var(--blue-dark);
    border-color: transparent;
  }
}

.button--small {
  min-height: auto;
  padding: .50em 1em;
  font-size: 80%;
}

.button--disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.button--loading {
  .button__label {
    visibility: hidden;
  }
}
